.DS_Store 
.vscode
temas

lab_2.1_y_3.1/lab 2 y 3; Javier Mateo _Javier Aguilera_Andres Alvarez.zip
lab_4/lab 4.zip
lab_4/Laboratorio 4_SSOO_v2023.pdf
lab_5/Uso de C sobre Ubuntu.pdf
lab_6/Hilos y Procesos en Linux - C.pdf
lab_7/Ejercicios en C - Hilos&Procesos_v2023.pdf
