.DS_Store 
.vscode
temas

lab_2.1_y_3.1/lab 2 y 3; Javier Mateo _Javier Aguilera_Andres Alvarez.zip
lab_4/lab 4.zip
lab_4/Laboratorio 4_SSOO_v2023.pdf
lab_5/Uso de C sobre Ubuntu.pdf
lab_6/Hilos y Procesos en Linux - C.pdf
lab_7/Ejercicios en C - Hilos&Procesos_v2023.pdf
lab_2.1_y_3.1/.DS_Store
lab_2.1_y_3.1/lab 2 y 3; Javier Mateo _Javier Aguilera_Andres Alvarez.zip
lab_4/.DS_Store
lab_4/Laboratorio 4_SSOO_v2023.pdf
lab_4/lab 4.zip

lab_5/.DS_Store
lab_5/Uso de C sobre Ubuntu.pdf
lab_5/lab5

lab_6/Hilos y Procesos en Linux - C.pdf
lab_6/example_01.3
lab_6/example_01.4
lab_6/lab6_1
lab_6/lab6_2
lab_6/lab6_3
lab_6/lab6_3_1
lab_6/lab6_4
lab_6/lab6_5
lab_6/lab6_7
lab_6/lab6_8

lab_7/Ejercicios en C - Hilos&Procesos_v2023.pdf
lab_7/LLamadas del Sistema Linux - C.pdf
lab_7/Ejercicios en clases uso de C-ProcesosHilos/01-CreateFork
lab_7/Ejercicios en clases uso de C-ProcesosHilos/02-CreateThreads
lab_7/Ejercicios en clases uso de C-ProcesosHilos/03-WaitThread
lab_7/Ejercicios en clases uso de C-ProcesosHilos/06-YouThread
lab_7/Ejercicios en clases uso de C-ProcesosHilos/07-SignalSimple
lab_7/Ejercicios en clases uso de C-ProcesosHilos/08-SignalBetweenProc
lab_7/Ejercicios en clases uso de C-ProcesosHilos/09-AlarmProc
lab_7/Ejercicios en clases uso de C-ProcesosHilos/10-PilaEnC
lab_7/Ejercicios en clases uso de C-ProcesosHilos/11-ArgumentsMainFunctionC

practica_final/.DS_Store
practica_final/Práctica Asignatura - UFApuestas - SSOO_v01.pdf
practica_final_II.zip
practica_final_I/compilado

practica_final_I/FileProcessor
practica_final_I/hola
practica_final_I/archivo_entregado/PracticaFinal_SSOO/FileProcessor.o
practica_final_I/FileProcessor.dSYM/Contents/Resources/DWARF/FileProcessor
practica_final_II/file_procesor_V2.c.out
practica_final_II/hola
practica_final_II/terminal
